node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.DS_Store
/downloads/
/screenshots/
.env*
.vscode/
playwright/.auth
/allure-results/
/allure-report/
/screenshots/
/videos/
/downloads/
/test-data/
/test-options.ts
/test-data.ts
/test-data.ts
.github*